$black-color:           #202020;
$blackish-color:        #414141;

$blue-color:            #20bafb;
$lightblue-color:       #b6d6fc;

$pink-color:            #c30670;
$lightpink-color:       #fb0079;

$green-color:           #10a778;
$lightgreen-color:      #5ed6ae;

$yellow-color:          #a79c14;
$lightyellow-color:    #f3e42f;

$blue-color:            #008ec4;
$lightblue-color:       #20bafb;

$purple-color:          #523b78;
$lightpurple-color:     #6854de;

$teal-color:            #20a4b9;
$lightteal-color:       #4fb8cc;
$darkteal-color:        #1c8fa0;

$gray-color:            #d9d9d9;
$lightgray-color:       #f0f0f0;

$white-color: white;
$gray1-color: #696969;
$gray2-color: #848484;
$gray3-color: #a0a0a0;
$gray4-color: #bababa;

$orange-color: #ff7711;

$background-color:      $lightgray-color;
$foreground-color:      $blackish-color;

$link-color: $blue-color;
$link-hover-color: $lightblue-color;
$link-visited-color: $blue-color;

$post-list-link-color: $blackish-color;
$post-list-hover-color: $black-color;

$header-background-color: $black-color;
$header-title-color: $lightgray-color;
$header-title-hover-color: $gray4-color;
$header-menu-color: $lightgray-color;
$header-menu-hover-color: $gray4-color;
$menu-background-color: $lightpink-color;
$menu-foreground-color: $blackish-color;
$menu-hover-color: $gray1-color;

$heading-text-color: $black-color;

$date-color: $gray3-color;

$footer-border-color: $link-color;
$footer-foreground-color: $foreground-color;
$footer-link-color: $link-color;
$footer-hover-color: $link-hover-color;
