#footer {
  font-size: 80%;
  color: $footer-foreground-color;
  padding-top: 3em;
  overflow: hidden;

  .footer-divider {
    border-top: 4px solid $footer-border-color;
    transform: rotate(0.5deg);
    margin-bottom: 3em;
  }

  .column {
    float: left;
    margin-right: 3em;

    a {
      color: $footer-link-color;

      &:hover {
        color: $footer-hover-color;
        text-decoration: none;
      }
    }
  }

  .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;

    img {
      border: 0;
    }
  }

}
