@media (max-width: 43em) {

  #site {
    margin: 0 2em;
    width: auto;

    #header {
      left: 0;
      right: 0;
      margin-left: 2em;
      margin-right: 2em;
      width: auto;
    }

    #submenu {
      left: 0;
      right: 0;
      margin-left: 2em;
      margin-right: 2em;
      margin-top: 1px;
      width: auto;
    }
  }
}

@media(max-width: 475px) {

  #header,
  #submenu,
  #home {
    margin-left: 1em;
    margin-right: 1em;
  }

  .content {

    & > h2 {
      margin: 0 0 0.75em 0;
      padding-right: 0;
      text-align: center;
      line-height: 1.5em;

      & + .date {
        display: none;
      }
    }
  }

  ul#posts.list {
    padding-left: 4.5em;
    li {
      text-indent: -2em;
      span {
        display: none;
      }
    }
  }

  #photolog ul#posts li * + p:last-child {
    font-size: 100%;
  }
}
