#submenu-background {
  position: fixed;
  top: 67px;
  left: 0;
  right: 0;
  padding: 0.5em;
  border-top: 3px solid $menu-background-color;
  border-bottom: 1px solid $gray4-color;
  background-color: $gray-color;
  color: $menu-background-color;
  transform: rotate(-1deg);
  min-width: 42em;
  z-index: 1000;

  & + .content {
    padding-top: 1em;
  }
}

#submenu {
  position: fixed;
  top: 70px;
  padding: 0.5em 0;
  text-transform: uppercase;
  font-size: 0.9em;
  margin-top: 3px;
  transform: rotate(-1deg);
  z-index: 1001;

  a {
    color: $menu-foreground-color;
    font-weight: 700;
    font-size: 0.9em;
    text-decoration: none;

    &:hover {
      color: $menu-hover-color;
    }
  }

  #left {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;

    a {
      margin-right: 1em;
    }
  }
}
